<!-- Footer -->
{% load static %}
<link rel="stylesheet" href="{% static 'app/footer.css' %}">
<div class="footer_div">
<footer class="text-center text-lg-start bg-light text-muted footer">
    <!-- Section: Social media -->
    <div class=" footer_divtext-center text-lg-start bg-light text-muted footer">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

      <div class="footer__icon">
        <a href="https://m.me/abdalmagedrefai" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="alrefa3ee.live" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/ai_alrefa3ee/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.github.com/alrefa3ee/" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  </div>

    <!-- Copyright -->
    <div class="text-center p-4 footer__footer"  >
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://Alrefa3ee.studio">Alrefa3ee.studio</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- Footer -->

</div>